# .env.example
GEMINI_API_KEY=
OPENAI_API_KEY=
DB_USER=
DB_PASS=
DATABASE_URL=postgresql://neondb_owner:npg_docDMHOIPq10@ep-young-heart-aiuvhn52-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
